.game-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title-container {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 30px;
    }
}
#winner {
    color: transparent;
    &.visable {
        color: black;
    }
}
#reset {
    color: transparent;
    background-color: transparent;
    border-radius: 20px;
    padding: 20px;
    &.visable {
        background-color: #f9f465;
        color: rgb(127, 129, 248);
    }
}
#gameboard {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20vmin 20vmin 20vmin;
    grid-template-rows: 20vmin 20vmin 20vmin;
    .playing-box {
        background-color: #e8f377;
        border: #7794f3 solid 3px;
        margin: 5px;
        transition: transform 0.2s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10vmin;
        &:hover {
            background-color: #fdf503;
            transform: scale(1.05);
            z-index: 2;
        }
        &.expand {
            transform: scale(1.08);
        }
        &.O {
            background-color: #ee5959;
        }
        &.X {
            background-color: #69a4f7;
        }
    }
}